body {
    margin: 0;
    font-family: sans-serif;
    background-color: #aaaaaa28;
}


.header {
    font-weight: bold;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to right, #00359c, #51517d);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0px !important;
    align-items: center;
}

.menu {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	justify-content: center;
	text-align: center;
} 

.menu-list{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 69.444%;
}

.logo {
    text-align: left;
}

.content {
    display: flex;
    padding: 20px;
    flex: 1 1 0%;
}

.article {
    width: 70%;
    padding: 10px;
}

.sidebar {
    width: 30%;
    padding: 10px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

ul,ol {
    padding: 0px 20px 0px 20px;
}

li {
    margin-top: 10px;
}

li span {
    margin-left: 10px;
}

.btn-full {
    padding: 10px 10px 10px 10px;
    background-color: #2c73bf;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    width: 200px;
}

.btn-full:hover { background-color: #18508c;}

.footer {
    padding: 20px;
    background-color: red;
    background-image: linear-gradient(to right, #00359c, #51517d);
    color: white;
}

.menu-footer {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    flex: 1 1 0%;
}

.menu-footer .address {
    width: 40%;
    padding: 10px;
}

.menu-footer .alter{
    width: 30%;
    padding: 10px;
}

.input-sub {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subcribe-core {
    display: flex;
    position: relative;
    flex: 1 1 0%;
}

.subcribe-sub {
    width: 70%;
}

.btn-sub {
    padding: 10px 10px 10px 10px;
    background-color: #ffa517;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    width: 30%;
}

header a, header .logo {
    color: white;
}

.sidebar a:hover {
    color: gray;
}

.alter a { color: white; }

.alter a:hover { color: gray;}

.btn-sub:hover { background-color: #d68300;}

.icon {
    padding: 10px;
    border-radius: 20px;
    background-color: gray;
    height: 20px;
    width: 20px;
    text-align: center;
}

.logo {
    width: 70px;
    height: auto;
}

.mt-0 { margin-top: 0px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }

.ml-10 { margin-left: 10px !important; }
.ml-20 { margin-left: 20px !important; }
.ml-30 { margin-left: 30px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-30 { margin-right: 30px !important; }

.pt-10 { padding-top: 10px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-30 { padding-top: 30px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-30 { padding-bottom: 30px !important; }

.pl-10 { padding-left: 10px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-30 { padding-left: 30px !important; }
.pr-10 { padding-right: 10px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-30 { padding-right: 30px !important; }

.p-10 { padding: 10px !important; }
.p-20 { padding: 20px !important; }
.p-30 { padding: 30px !important; }

.d-block { display: block; }
.d-flex { display: flex; }
.flex-b { flex: 1 1 0%; }

.p-relative { position: relative; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.indent-30 { text-indent: 30px; }
.indent-50 { text-indent: 50px; }
.indent-70 { text-indent: 70px; }

.items-center { align-items: center }
.justify-center { justify-content: center; }

.font-12 { font-size: 1.2rem; }
.font-08 { font-size: 0.8rem; }

.text-gray { color: gray }
.text-white { color: white }

.uppercase { text-transform: uppercase; }
.font-bold { font-weight: bold; }

/* 
.img {
    width: 50px;
}


.left {
    display: flex;
    justify-content: space-between;
}

.sub-menu {
    display: flex;
    padding-top: 16px;
}



.content-left {
    width: 70%;
}

.content-img {
    padding-left: 7px;
}

.content-body {
    background: white;
    margin-left: 22px;
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 9px;
    padding: 10px;
    width: 902px;
    height: 547px;
}

.img {
    padding-top: 4px;
    width: 413px;
    height: 305px;
}

.img-p {
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
    margin-left: 12px;
    padding-top: 2px;
}

.content-p {
    padding-left: 21px;
    font-size: 14px;
    font-weight: 700;
}


.button-detail2 {
    color: white;
    background: #3e92ec;
    border-radius: 9px;
    border: #3e92ec;
    font-size: 13px;
    font-weight: 700;
    margin-left: 284px;
    width: 149px;
    height: 33px;
    margin-top: 91px;
}

.content-right-1 {
    background: white;
    padding: 1px;
    margin: 27px;
    margin-top: 26px;
    width: 125%;
    border-radius: 9px;
    width: 121%;
    height: 12%;
}

.content-right-h1 {
    text-align: justify;
    padding-left: 20px;
}

.content-right-li {
    padding: 2px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.inflax {
    display: flex;
    padding: 12px;
}

artikel
.content-body-artikel {
    background: white;
    margin-left: 112px;
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 9px;
    padding: 10px;
    width: 916px;
    height: 1081px;
}

.content-artikel-left-1 {
    background: white;
    padding: 1px;
    margin: 19px;
    margin-top: 26px;
    width: 125%;
    border-radius: 9px;
    width: 121%;
    height: 13%;
}

.artikel-img-p {
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
    margin-left: 42px;
    padding-top: 3px;
}

.artikel-content-p {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

.content-comment-artikel {
    background: white;
    margin-left: 112px;
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 9px;
    padding: 10px;
    width: 916px;
    height: 475px;
}

.content-comment-p {
    padding-left: 21px;
    font-size: 14px;
    font-weight: 700;
    margin: -32px;
    margin-left: -3px;
    margin-top: -25px;
}

.content-comment-p2 {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    margin: -32px;
    margin-left: -13px;
    margin-top: -20px;
}

.content-comment-p3 {
    padding-left: 17px;
    font-size: 14px;
    font-weight: 400;
    margin: -32px;
    margin-left: -13px;
    margin-top: 36px;
    color: grey;
}

.font-comment {
    padding-left: 13px;
}

.img-comment {
    background: gray;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.img-font {
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin: 9px;
}

.align-font {
    padding: 1px;
}

.inflax-comment {
    display: flex;
    padding: 12px;
    padding-bottom: 29px;
}

Tentang Kami

.about-left {
    width: 100%;
}

.content-body-about {
    background: white;
    margin-left: 209px;
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 9px;
    padding: 10px;
    width: 916px;
    height: 1081px;
}

.about-p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 24px;
}

footer {
    background: #18508c;
}

ul li {
    padding: 2px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

ul li span {
    display: block;
    font-size: 1.4em;
    margin-bottom: 1em;
    color: white;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

.populer {
    padding-left: 23px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-left: 21px;
    padding-bottom: 10px;
    color: white;
}

.footer-left {
    width: 40%;
    font-size: 15px;
    font-weight: 500;
}

.footer-center {
    margin-left: -171px;
}

li {
    margin-bottom: 5px;
}

.footer-right {
    text-align: right;
    padding-right: 27px;
}

span {
    font-size: 21px;
    color: white;
    font-weight: 600;
}

.submit {
    border-radius: 9px;
    border: 2px solid #ffa517;
    background: #ffa517;
    width: 134px;
    height: 35px;
    color: white;
    font-weight: 700;
}

.text-input {
    width: 285px;
    height: 29px;
}

.label-input {
    padding-right: 33px;
} */