body {
    margin: 0;
    font-family: sans-serif;
    background-color: #aaaaaa28;
}

.header {
    width: 343px;
    height: 0%;
    font-weight: bold;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-left: 445px;
    margin-top: 11px;
    align-items: center;
    border-radius: 10px;
}

.content {
    display: flex;
    padding: 10px;
    flex: 1 1 0%;
}

.sidebar {
    width: 30%;
    background-color: white;
}

.article {
    width: 113%;
    height: 54px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
}

.article-2 {
    width: 113%;
    height: 468px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
}

.col-6 {
    width: 50%;
}

.menu {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	justify-content: center;
	text-align: center;
} 

.side {
    height: 966px;
    border-radius: 16px;
}

.layout {
    width: 46px;
    height: 47px;
    background: grey;
    border-radius: 50%;
    margin-left: 10px;
}

.font-icon{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 13px;
    margin-top: 10px;
}

.menu-side {
    width: 85%;
    margin: 26px;
}

.font-header {
    text-align: left;
    margin-left: -427px;
    margin-top: 19px;
    color: grey;
}

.font-logout {
    color: grey;
    margin-top: 17px;
    margin-right: -99px;
}

.part-side {
    display: flex;
    padding: 10px;
    background-image: linear-gradient(to right, #00359c, #51517d);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.part-menu {
    padding: 12px;
    background-color: #195ba2;
    border-radius: 10px;
}

.part-menu:hover{ background-color: #4b9bf0;}

.font-part {
    font-weight: 600;
    color: white;
    margin-left: 25px;
}

.font-menu {
    font-weight: 500;
    color: white;
}

table {
    border:1px solid black;
}

th {
color: white;
background-color: #4b9bf0;
border: 1px solid black;
}

span {
    margin-right: 15px;
}

.footer {
    background-color: red;
    background-image: linear-gradient(to right, #00359c, #51517d);
    color: white;
}

.menu-footer {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    flex: 1 1 0%;
}

.menu-footer .address {
    width: 100%;
    text-align: center;
}

.text-center { text-align: center; }
.text-left { text-align: left; }