body {
    margin: 0;
    font-family: sans-serif;
    background-color: #aaaaaa28;
}

.header {
    width: 343px;
    height: 0%;
    font-weight: bold;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-left: 445px;
    margin-top: 11px;
    align-items: center;
    border-radius: 10px;
}

.content {
    display: flex;
    padding: 10px;
    flex: 1 1 0%;
}

.sidebar {
    width: 30%;
    height: 966px;
    background-color: white;
}

.dashboard {
    width: 98%;
    height: 1000px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
    margin-top: 10px;
}

.dashboard-setting {
    width: 98%;
    height: 678px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
    margin-top: 10px;
}

.dashboard-1 {
    display: flex;
    padding: 10px;
}
.dashboard-address {
    padding-left: 12px;
    padding-top: 19px;
}

.t-artikel {
    width: 218px;
    height: 80px;
    background-color: #195ba2;
    margin-left: -2px;
    border-radius: 10px;
}
.t-komentar {
    width: 218px;
    height: 80px;
    background-color: #e0700c;
    margin-left: 8px;
    border-radius: 10px;
}
.t-pengarang {
    width: 218px;
    height: 80px;
    background-color: #1f895c;
    margin-left: 8px;
    border-radius: 10px;
}
.t-aktivitas {
    width: 218px;
    height: 80px;
    background-color: #920475;
    margin-left: 8px;
    border-radius: 10px;
}

.font-dashboard {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 12px;
}

.font-dashboard-2 {
    font-size: 13px;
    color: white;
    margin-left: 15px;
}
.font-style {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-left: 12px;
}

.input{
    width: 423px;
    height: 32px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: -7px;
    margin-left: -2px;
    padding-left: 7px;
}

.input-address{
    width: 869px;
    height: 32px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: -7px;
    margin-left: -2px;
    padding-left: 7px;
}
textarea{
    width: 869px;
    height: 157px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: -7px;
    margin-left: -2px;
    padding-left: 7px;
}
.article {
    width: 113%;
    height: 54px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
}

.article-dashboard {
    width: 98%;
    height: 54px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
}

.article-2 {
    width: 113%;
    height: 341px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1rem;
}

.col-6 {
    width: 50%;
}

.menu {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	justify-content: center;
	text-align: center;
} 

.side {
    height: 966px;
    border-radius: 16px;
}

.layout {
    width: 46px;
    height: 47px;
    background: grey;
    border-radius: 50%;
    margin-left: 10px;
}

.font-icon{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 13px;
    margin-top: 10px;
}

.menu-side {
    width: 85%;
    margin: 26px;
}

.font-header {
    text-align: left;
    margin-left: -427px;
    margin-top: 19px;
    color: grey;
}

.font-logout {
    color: grey;
    margin-top: 17px;
    margin-right: -99px;
}

.part-side {
    display: flex;
    padding: 10px;
    background-image: linear-gradient(to right, #00359c, #51517d);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn {
    width: 222px;
    height: 40px;
    border: #195ba2;
    border-radius: 10px;
    background-color: #195ba2;
    margin-left: 685px;
    margin-top: 74px;
    color: white;
    font-weight: 800;
}

.btn:hover{background-color: #4b9bf0;}

a{
    text-decoration: none;
}

.part-menu {
    padding: 12px;
    background-color: #195ba2;
    border-radius: 10px;
}

.part-menu:hover{ background-color: #4b9bf0;}

.font-part {
    font-weight: 600;
    color: white;
    margin-left: 25px;
}

.font-menu {
    font-weight: 500;
    color: white;
}

/* .t-artikel {
    width: 100px;
    height: 100px;
    background-color: #195ba2;
} */

.table {
    padding-left: 20px;
    padding-right: 20px;
}

table {
    width: 100%;
    text-align: center;
    border: 2px solid #e1edff;
}

th {
    color: white;
    background-color: #4b9bf0;
    font-size: 14px;
    padding: 6px;
}

.tr-1 {
    background-color: #d6e5f2;
    font-size: 12px;
}

.td-1 {
    padding: 15px;
    text-align: left;
}

.tr-2{
    background-color: white;
    font-size: 12px;
}

.td-2 {
    padding: 10px;
}

.td-button{
    padding-left: 30px;
    padding-right: 30px;
}

.btn1 {
    background-color: #195ba2;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 8px;
}
.btn2 {
    background-color: darkorange;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.header-table {
    font-weight: 600;
    padding-top: 20px;
}



span {
    margin-right: 15px;
}

.footer {
    background-color: red;
    background-image: linear-gradient(to right, #00359c, #51517d);
    color: white;
}

.menu-footer {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    flex: 1 1 0%;
}

.menu-footer .address {
    width: 100%;
    text-align: center;
}

.text-center { text-align: center; }
.text-left { text-align: left; }